<div id="intro">
	<h1>Introduction</h1>
	<p>
		You, Dr. Steve Brule, must act quickly to save the Golden Fedora 
		and it's protector, your mother Doris Pringle. The Golden Fedora has 
		been captured by billionare drug lord Sir Ricky Ricardo Carlos Eduardo 
		Montblanc the Third and his cartel. Rumor has it that Ricky has moved 
		it temporarily to a safe house in Weimar, Germany. This is the last chance
		for you to rescue the Golden Fedora before it is lost forever. 
		When you arrive at the safe house, you only have a couple days
		to find the prized fedora. Luckily for you, a strike team has eliminated the guards 
		and communication devices at the safe house. Will you find the Golden Fedora in time?
	</p>
	<br/>
	<%= link_to "Start!", '/rooms/1' %>
</div>
