<p> <%= @room.enter_desc %> </p>
<p>You see the following items:</p>
<% Item.all.each do |item| %>
	<% if item.room_id == @room.id %>
		<p>
			<%= item.name %>: <%= item.long_desc %>
		</p>
	<% end %>
<% end %>