<% room = Room.where(id: session[room_id]).first %>
<p> <%= room.enter_desc %> </p>
<p>You see the following items:</p>
<% @items.each do |item| %>
	<% if item.room_id == room.id %>
		<p><%= item.name %></p>
	<% end %>
<% end %>