<div class="separator"></div>
<div id="rubyquest">
	<img src="\assets\rubyquest.jpg"/>
</div>
<div class="separator"></div>
<div id="options">
	<span style="color: red;"><%= flash[:alert] %></span><br/>
    <%= link_to "Login", new_session_path, :class => "option" %>
	<br />
    <%= link_to "Register", new_user_path, :class => "option" %>
	<br />
</div>
<img id="steve-brule-img" src="\assets\brule.jpg"/>

