<div id="rubyquest">
	<img src="\assets\rubyquest.jpg"/>
</div>
<div id="start">
	<span style="color: red;"><%= flash[:alert] %></span><br/>
	<a id="startlink" href="#">Start Game</a>
</div>
	<img src="\assets\brule.jpg"/>

