<div class="separator"></div>
<div id="rubyquest">
	<img src="\assets\rubyquest.jpg"/>
</div>
<div class="separator"></div>
<div id="options">
	<span style="color: red;"><%= flash[:alert] %></span><br/>
	<a class="option" href="#">Login</a><br/>
	<%= link_to "Register", { :controller => "users" }, { :class => "option" } %>
</div>
<img id="steve-brule-img" src="\assets\brule.jpg"/>

