// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color: black;

	/* Don't want the Steve Brule pick hovering */
	margin: 0;
}
#rubyquest{
	width: 826px;
	margin: 0 auto;
}
#options{
	width: 100%;
	margin: auto;
	text-align: center;
}
.option{
	font-family: Impact, sans-serif;
	text-decoration: none;
	color: red;
	font-size: 250%;
}
#steve-brule-img{
	position: absolute;
	bottom: 0;
}