// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-container
{
	margin: auto;
	text-align: center;
}

.form-title
{
	color: red;
}

div.form-container label
{
	color: red;
}

p{
	color: red;
}