// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#intro{
	margin: auto;
	text-align: center;
	width: 60%
}

h1{
	color: red;
}

p{
	color: red;
}

a{
	color: white;
	text-decoration: none;
	font-size: 150%;
}

