// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.new_user{
	margin: auto;
	text-align: center;
}
h1.new_user{
	color: white;
}
label{
	color: white;
}
a{
	color: white;
}